html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Droid Sans', sans-serif;
  margin: 0;
  background-color: #f6f6f6;
  min-width: 838px;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

label {
  display: block;
  color: #333333;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  margin-bottom: 12px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 24px;
  height: 50px;
  width: 100%;
  margin-bottom: 40px;
  background-color: white;
  box-shadow: 0 1px 0 0 #D2D2D2;
}

.header button {
  background-color: transparent;
  color: #005B9C;
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
  padding-right: 19px;
}

.header button::before {
  content: '';
  display: inline-block;
  width: 21px;
  height: 21px;
  background-image: url('images/icon-add.png');
  margin-right: 9px;
  vertical-align: sub;
}

.header-title {
  padding-left: 13px;
}

.header-title img {
  display: inline-block;
}

.header-title h2 {
  position: relative;
  bottom: 3px;
  display: inline-block;
  margin: 0;
  font-size: 20px;
  font-weight: normal;
  color: #666666;
  margin-left: 32px;
}

.header-title h2::before {
  position: absolute;
  top: -1px;
  left: -16px;
  content: '';
  display: inline-block;
  height: 25px;
  width: 1px;
  background-color: #979797;
}

.request {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  max-width: 803px;
  margin: 0 auto;
  height: 83px;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.23);
}

.request.is-valid .request-btn-accept {
  background-image: url('images/icon-accept-active.png');
}

.request.is-valid input {
  border-bottom-color: #23C324;
}

.request.is-rejected {
  animation-name: rejected;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.request.is-approved {
  animation-name: approved;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes rejected {
  0% {
    transform: translateX(0);
    opacity: 1;
    height: 83px;
  }
  80% {
    transform: translateX(-200px);
    opacity: 0;
    height: 83px;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
    height: 0;
  }
}

@keyframes approved {
  0% {
    transform: translateX(0);
    opacity: 1;
    height: 83px;
  }
  80% {
    transform: translateX(200px);
    opacity: 0;
    height: 83px;
  }
  100% {
    transform: translateX(200px);
    opacity: 0;
    height: 0;
  }
}

.request input {
  font-size: 18px;
  line-height: 21px;
  border: 0;
  border-bottom: 2px solid #979797;
  max-width: 133px;
  outline: 0;
  padding-bottom: 6px;
}

.request input::placeholder {
  color: #ACACAC;
}
.request input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ACACAC;
}
.request input::-moz-placeholder { /* Firefox 19+ */
  color: #ACACAC;
}
.request input:-ms-input-placeholder { /* IE 10+ */
  color: #ACACAC;
}
.request input:-moz-placeholder { /* Firefox 18- */
  color: #ACACAC;
}

.commerce-details {
  display: inline-block;
  color: black;
}

.commerce-details h3 {
	font-size: 16px;
	font-weight: bold;
	line-height: 19px;
  margin-top: 0;
  margin-bottom: 4px;
}

.commerce-details p {
  margin: 0;
}

.commerce-title {
  color: #848484;
  font-size: 12px;
  line-height: 14px;
}

.commerce-details .commerce-number {
  color: #333333;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  margin: 1px 0 3px 0;
}

.commerce-date {
  color: white;
  font-size: 11px;
  font-weight: bold;
  line-height: 13px;
  border-radius: 2px;
  background-color: #B6B6B6;
  max-width: 68px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.commerce-details:first-of-type {
  min-width: 312px;
  margin-left: 22px;
  font-size: 16px;
  line-height: 19px;
}

.commerce-details:first-of-type span {
  color: #8E8E8E;
}

.request-btn {
  padding: 0;
  height: 33px;
  width: 33px;
  background-color: transparent;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.request-btn-decline {
  margin-left: 23px;
  background-image: url('images/icon-decline.png');
}

.request-btn-decline.is-active {
  margin-left: 23px;
  background-image: url('images/icon-decline-active.png');
}

.request-btn-accept {
  margin-right: 30px;
  background-image: url('images/icon-accept.png');
}

.form-overlay {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.35);
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: none;
}

.form-overlay.is-open {
  display: flex;
}

.request-form {
  height: 456px;
  width: 425px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.23);
}

.request-form input {
  height: 43px;
  width: 100%;
  border: 1px solid #CCCCCC;
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: inset 0 1px 0 0 #ECECEC;
}

.confirmation-message {
  position: absolute;
  font-size: 16px;
  line-height: 20px;
  top: 13px;
  right: 26px;
  height: 58px;
  width: 709px;
  border: 1px solid #D20F36;
  border-radius: 2px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 22px;
}

.confirmation-message button {
  font-size: 16px;
}

.confirmation-message button:first-of-type {
  text-decoration: underline;
}

.confirmation-message button:nth-child(2) {
  color: #D20F36;
  font-weight: bold;
}

.request-form h2 {
  width: 100%;
  text-align: center;
  color: #005B9C;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  border-bottom: 2px solid #C0C0C0;
  margin-bottom: 40px;
  margin-top: 15px;
  padding-bottom: 14px;
}

.form-fields {
  padding: 0 35px;
}

.form-fields input {
  padding-left: 18px;
  font-size: 17px;
}

.form-fields input::placeholder {
  color: #949494;
  font-size: 17px;
}

.form-fields input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ACACAC;
}
.form-fields input::-moz-placeholder { /* Firefox 19+ */
  color: #ACACAC;
}
.form-fields input:-ms-input-placeholder { /* IE 10+ */
  color: #ACACAC;
}
.form-fields input:-moz-placeholder { /* Firefox 18- */
  color: #ACACAC;
}

.fields-cols {
  display: flex;
  margin-top: 23px;
  padding-bottom: 105px;
}

.fields-col {
  width: 50%;
}

.fields-col:first-of-type {
  margin-right: 15px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 23px;
  border-top: 1px solid #979797;
  margin: 0 39px;
}

.form-buttons input {
  color: #333333;
  font-size: 17px;
  line-height: 20px;
  height: 43px;
  width: 160px;
  border: 1px solid #777777;
  border-radius: 2px;
  background-color: #FFFFFF;
  padding-left: 0;
  cursor: pointer;
}

.form-buttons input:nth-child(2) {
  background-color: #005B9C;
  color: white;
  border: none;
}
